<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product API List</title>
</head>

<body>
<h2>Product Category API List</h2>
<hr>

<p>1. Category List (GET):
    <a href="http://marufswe.pythonanywhere.com/category/" target="_blank">
        http://marufswe.pythonanywhere.com/category/
    </a>
</p>

<p>2. Create Category (POST):
    http://marufswe.pythonanywhere.com/add_category/
</p>

<p>3. Update Category (PUT):
    http://marufswe.pythonanywhere.com/update_category/
</p>

<p>4. Delete Category (POST):
    http://marufswe.pythonanywhere.com/del_category/
</p>


<p>5. Product List (GET):
    <a href="http://marufswe.pythonanywhere.com/product/" target="_blank">
        http://marufswe.pythonanywhere.com/product/
    </a>
</p>

<p>6. Create Product (POST):
    http://marufswe.pythonanywhere.com/add_product/
</p>

<p>7. Update Product (PUT):
    http://marufswe.pythonanywhere.com/update_product/
</p>

<p>8. Delete Product (POST):
    http://marufswe.pythonanywhere.com/del_product/
</p>


<p>9. Order List (GET):
    <a href="http://marufswe.pythonanywhere.com/order/" target="_blank">
        http://marufswe.pythonanywhere.com/order/
    </a>
</p>

<p>10. Create Order (POST):
    http://marufswe.pythonanywhere.com/add_order/
</p>

<p>11. Update Order (PUT):
    http://marufswe.pythonanywhere.com/update_order/
</p>

<p>12. Delete Order (POST):
    http://marufswe.pythonanywhere.com/del_order/
</p>


<p>13. Order Details List (GET):
    <a href="http://marufswe.pythonanywhere.com/order_details/" target="_blank">
        http://marufswe.pythonanywhere.com/order_details/
    </a>
</p>

<p>14. Create Order Details (POST):
    http://marufswe.pythonanywhere.com/add_order_details/
</p>

<p>15. Update Order Details (PUT):
    http://marufswe.pythonanywhere.com/update_order_details/
</p>

<p>16. Delete Order Details (POST):
    http://marufswe.pythonanywhere.com/delete_order_details/
</p>

</body>
</html>


